* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;

}
.divider {
    width: 100%;
    background: #F2F2F2;
    height:1px;

}
.reaction {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}
.reactions a {
  text-decoration: none;
    color: #3e3e3e;
    font-size: 20px;
    
}
.reactions {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.button-react {
    background: transparent;
    border: 0;
    display: block;
}
.react button :hover {
background:#3e3e3e ;
}
.react {
    margin-top: 15px;
    display: flex;
}
.react button {
    border-style: none;
    cursor: pointer;
    padding: 8px 80px;
    background: #fff;
}   